body {
  background-color: rgb(128, 163, 197);
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 15%;
  margin-right: 15%;
}

#app {
  position: absolute;
  width: 800px;
  top: 30%;
  border: 1px solid whitesmoke;
  padding: 30px;
  background-color: rgb(161, 219, 219);
  display: flex;
}

.keyboard {
  display: flex;
}


.key {
  height: 100px;
  width:30px;
  float: right;
}

.pressed {
  background-color:rgb(247, 168, 139);
}

